.App {
  text-align: center;
  flex-direction: column;
  display: flex;
  height: 100%;
}

#root {
  height: 100vh;
}

.App-header {
  background-color: #d0b9cb;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.App-footer {
  background-color: #d0b9cb;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  color: rgb(0, 0, 0);
}

.App-body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  height: 100%;
}

.deets {
  height: 30%;
}